html, body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   width: 100%;
   display: block;
   min-width: 200px;
 }

img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    margin-bottom: 0px;
    padding-bottom: 0px;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0.2em;
}

/*
 * Styles for the deck of cards
 */

.pack {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

}

.deck {
    width: 90%;
    min-height: 430px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em auto;
}

.deck .card {
    height: 90px;
    width: 22%;
    background: linear-gradient(160deg, #555 0%, #000 100%);
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 80%;
    vertical-align: middle;
    font-size: 1.2em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves,
.stars,
.restart,
.timer {
    padding: 8px 0;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    display: inline-block;
}

/*
 *Styles for scoreboard;
 *
 */

.score-section {
    width: 75%;
}

.score-section table,
h3 {
    display: flex;
    justify-content: center;
}

.score-section th {
    width: 20%;
}

.score-section td {
    text-align: center;
}

 /*
  *Styles for modal;
  *
  */

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    min-height: 280px;
    text-align: center;
}

.retry-button {
    float: left;
}

.close {
    float: right;
}

.retry-button,
.close {
    padding: 15px 0;
    font-size: 1.2em;
}

/* The Name Modal (background) */
.name-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Name Modal Content/Box */
.name-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  min-height: 150px;
  text-align: center;
}

input[type="text"]
{
    font-family: 'Coda', cursive;
    font-size: 24px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 0.5em;
        margin-top: 10%;
    }
    .fa {
        font-size: 0.6em;
    }
    .fa-star,
    .fa-repeat {
        font-size: 1em;
    }
    .deck .card {
        height: 50px;
    }
    .deck {
        min-height: 250px;
    }
    .modal-content {
        min-height: 150px;
    }
}

@media screen and (min-width: 580px) {
    body {
        font-size: 1.1em;
    }
    .deck .card {
        height: 110px;
    }
    .deck {
        min-height: 570px;
    }
}

@media screen and (min-width: 680px) {
    body {
        width: 680px;
        margin: 0 auto;
    }
}
